.bg-login-image {
    background: url(../images/login_banner.jpg)!important;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.htitle {
    font-size: 32px;
    color: #fff!important;

}

.login-box {
    background-color: rgb(27, 27, 27);
    color: #fff;
}

.form-control-user {
    border-radius: 0!important;
    padding: 1.5rem 0!important;
    background: transparent!important;
    border: 0px solid transparent!important;
    border-bottom: 1px solid #b9b9b9!important;
    font-size: 16px!important;
    color: #b9b9b9!important;
}


.form-control-user:focus {
    outline: none!important;
}

.top-div {
    min-width: 100vw!important;
    max-height: 16em!important;
    background-color: #4e73df;
    margin-left: 0!important;
    margin-right: 0!important;
}

.login-title {
    color: #fff;
    text-align: center;
}