{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block container %}
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
  {% include "../side-nav.html" %}
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input
              type="text"
              class="form-control bg-light border-0 small"
              placeholder="Search for..."
              aria-label="Search"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="searchDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div
              class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown"
            >
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control bg-light border-0 small"
                    placeholder="Search for..."
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="alertsDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div
              class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown"
            >
              <h6 class="dropdown-header">Alerts Center</h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 12, 2019</div>
                  <span class="font-weight-bold">A new monthly report is ready to download!</span>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 7, 2019</div>
                  $290.29 has been deposited into your account!
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 2, 2019</div>
                  Spending Alert: We've noticed unusually high spending for your account.
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
          </li>

          <!-- Nav Item - Messages -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="messagesDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-envelope fa-fw"></i>
              <!-- Counter - Messages -->
              <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div
              class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="messagesDropdown"
            >
              <h6 class="dropdown-header">Message Center</h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt=""/>
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                  <div class="text-truncate">
                    Hi there! I am wondering if you can help me with a problem I've been having.
                  </div>
                  <div class="small text-gray-500">Emily Fowler · 58m</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt=""/>
                  <div class="status-indicator"></div>
                </div>
                <div>
                  <div class="text-truncate">
                    I have the photos that you ordered last month, how would you like them sent to you?
                  </div>
                  <div class="small text-gray-500">Jae Chun · 1d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt=""/>
                  <div class="status-indicator bg-warning"></div>
                </div>
                <div>
                  <div class="text-truncate">
                    Last month's report looks great, I am very happy with the progress so far, keep up the good work!
                  </div>
                  <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt=""/>
                  <div class="status-indicator bg-success"></div>
                </div>
                <div>
                  <div class="text-truncate">
                    Am I a good boy? The reason I ask is because someone told me that people say this to all dogs,
                    even if they aren't good...
                  </div>
                  <div class="small text-gray-500">Chicken the Dog · 2w</div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
              <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"/>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- End of Topbar -->

      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
              <strong>Empleado: </strong>
              {{ employees.person.name}}
            </h1>
          </div>
          <!-- Content Row -->
          <div class="jusitfy-content-md-center">
            <div class="p-4">
              <form class="row" method="POST">
                {% csrf_token %}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>Dni</label>
                  <input
                    class="form-control {% if form.dni.errors %}is-invalid{% endif %}"
                    type="text"
                    name="dni"
                    value="{% if form.errors %}{{ form.dni.value }}{% else %}{{ employees.person.dni }}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.dni.errors %} {{ error }} {% endfor %}</div>
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                  <label>Name</label>
                  <input
                    class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                    type="text"
                    name="name"
                    value="{% if form.errors %}{{ form.name.value }}{% else %}{{ employees.person.name }}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.name.errors %} {{ error }} {% endfor %}</div>
                </div>

                {# CUIT field #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>cuil</label>
                  <input
                    class="form-control {% if form.cuil.errors %}is-invalid{% endif %}"
                    type="text"
                    name="cuil"
                    placeholder="00123456789"
                    value="{% if form.errors %}{{ form.cuil.value }}{% else %}{{ employees.cuil }}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.cuil.errors %} {{ error }} {% endfor %}</div>
                </div>

                {# Lastname Person field #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>Last name</label>
                  <input
                    class="form-control {% if form.last_name.errors %}is-invalid{% endif %}"
                    type="text"
                    name="last_name"
                    placeholder="Juan Perez"
                    value="{% if form.errors %}{{ form.last_name.value }}{% else %}{{ employees.person.last_name }}{% endif %}"
                  />
                  <div class="invalid-feedback">
                    {% for error in form.last_name.errors %} {{ error }} {% endfor %}
                  </div>
                </div>

                {# birth day field #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>Birthday</label>
                  <input
                    class="form-control {% if form.birth_day.errors %}is-invalid{% endif %}"
                    type="date"
                    name="birth_day"
                    value="{% if form.errors %}{{ form.birthday.value }}{% else %}{{ employees.person.birth_day| date:"Y-m-d" }}{% endif %}"
                  />
                  <div class="invalid-feedback">
                    {% for error in form.birth_day.errors %} {{ error }} {% endfor %}
                  </div>
                </div>

                {# city field #}
                <div class="col-sm-12 col-md-12 form-group">
                  <label>City</label>
                  <select id="city" name="city">
                    {%for city in cities %}
                    {% if city.id == employees.person.city.id %}
                    <option value="{% if form.errors %}{{ form.city.value }}{% else %}{{ city.id }}{% endif %}" selected="selected">{{employees.person.city}}</option>
                    {% endif %}"
                    <option value="{{city.id}}">{{city.name}}</option>
                    {% endfor %}

                  </select>
                  <div class="invalid-feedback">
                    {% for error in form.city.errors %} {{ error }} {% endfor %}
                  </div>
                </div>
                {# phone fields #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>Phone</label>
                  <input
                    class="form-control {% if form.phone.errors %}is-invalid{% endif %} mb-2"
                    type="text"
                    name="phone"
                    value="{% if form.errors %}{{ form.phone.value }}{% else %}{{ employees.person.phone }}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.phone.errors %} {{ error }} {% endfor %}</div>
                </div>

                {# mobile field #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>Mobile</label>
                  <input
                    class="form-control {% if form.mobile.errors %}is-invalid{% endif %}"
                    type="text"
                    name="mobile"
                    placeholder="4200 0024"
                    value="{% if form.errors %}{{ form.mobile.value }}{% else %}{{ employees.person.mobile}}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.mobile.errors %} {{ error }} {% endfor %}</div>
                </div>

                {# Email field #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>email</label>
                  <input
                    class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                    type="text"
                    name="email"
                    placeholder="+54 11 12345678"
                    value="{% if form.errors %}{{ form.email.value }}{% else %}{{ employees.person.email }}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.email.errors %} {{ error }} {% endfor %}</div>
                </div>
                <br/>
                {# Address fields #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>Dirección</label>
                  <input
                    class="form-control {% if form.address.errors %}is-invalid{% endif %} mb-2"
                    type="text"
                    name="address"
                    value="{% if form.errors %}{{ form.address.value }}{% else %}{{ employees.person.address }}{% endif %}"
                  />
                  <div class="invalid-feedback">
                    {% for error in form.address_number.errors %} {{ error }} {% endfor %}
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 form-group">
                  <label>Altura:</label>
                  <input
                    class="form-control {% if form.address_number.errors %}is-invalid{% endif %}"
                    type="text"
                    name="address_number"
                    value="{% if form.errors %}{{ form.address_number.value }}{% else %}{{ employees.person.address_number }}{% endif %}"
                  />
                  <div class="invalid-feedback">
                    {% for error in form.address_number.errors %} {{ error }} {% endfor %}
                  </div>
                </div>

                {# Position field #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>position</label>
                  <input
                    class="form-control {% if form.position.errors %}is-invalid{% endif %}"
                    type="text"
                    name="position"
                    value="{% if form.errors %}{{ form.position.value }}{% else %}{{ employees.position}}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.website.errors %} {{ error }} {% endfor %}</div>
                </div>

                {# CBU field #}
                <div class="col-sm-12 col-md-6 form-group">
                  <label>CBU</label>
                  <input
                    class="form-control {% if form.cbu.errors %}is-invalid{% endif %}"
                    type="text"
                    name="cbu"
                    value="{% if form.errors %}{{ form.cbu.value }}{% else %}{{employees.bank_account.cbu}}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.cbu.errors %} {{ error }} {% endfor %}</div>
                </div>

                <div class="col-sm-12 col-md-6 form-group">
                  <label>bank</label>
                  <input
                    class="form-control {% if form.bank.errors %}is-invalid{% endif %}"
                    type="text"
                    name="bank"
                    value="{% if form.errors %}{{ form.bank.value }}{% else %}{{ employees.bank_account.bank}}{% endif %}"
                  />
                  <div class="invalid-feedback">{% for error in form.bank.errors %} {{ error }} {% endfor %}</div>
                </div>

                <div class="col-sm-12 col-md-4 offset-md-4 justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block mt-5">Guardar</button>
                </div>

                <div class="col-sm-12 col-md-4 offset-md-4 justify-content-center">
                  <a href="{% url 'companies_list' %}" class="btn btn-warning btn-block mt-2">Cancelar</a>
                </div>
              </form>
            </div>
          </div>
        </div>

        <! -- -->

        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->

    <!--
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
-->
    {% include "../create_item-component.html" with item="employee"%} {% endblock %}
  </div>
</div>
</body>
