<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <i class="fas fa-car"></i>
    </div>
    <div class="sidebar-brand-text mx-3">VM-System</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Nav Item - clientes -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#clients" aria-expanded="true"
       aria-controls="collapseTwo">
      <i class='fas fa-users'></i>
      <span>Clientes</span>
    </a>
    <div id="clients" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Acciones Posibles:</h6>
        <a class="collapse-item" href="{% url 'customer_create' %}">Crear Nuevo Cliente</a>
        <a class="collapse-item" href="{% url 'customer_list' %}">Ver Clientes</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Vehiculos -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#vehicles" aria-expanded="true"
       aria-controls="collapseTwo">
      <i class='fas fa-car'></i>
      <span>Vehiculos</span>
    </a>
    <div id="vehicles" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Acciones Posibles:</h6>
        <a class="collapse-item" href="{% url 'vehicles_create' %}">Crear nuevo Vehiculo</a>
        <a class="collapse-item" href="{% url 'vehicles_list' %}">Ver Vehiculos</a>
      </div>
    </div>
  </li>


  <!-- Nav Item - Empleados -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#employees" aria-expanded="true"
       aria-controls="collapseTwo">
      <i class='far fa-id-badge'></i>
      <span>Empleados</span>
    </a>
    <div id="employees" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Acciones Posibles:</h6>
        <a class="collapse-item" href="{% url 'employees_create' %}">Crear nuevo empleado</a>
        <a class="collapse-item" href="{% url 'employees_list' %}">Ver empleados</a>
      </div>
    </div>
  </li>


  <!-- Nav Item - Aseguradoras -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#company" aria-expanded="true"
       aria-controls="collapseTwo">
      <i class="fas fa-city"></i>
      <span>Aseguradoras</span>
    </a>
    <div id="company" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Acciones Posibles:</h6>
        <a class="collapse-item" href="{% url 'company_create' %}">Crear nueva aseguradora</a>
        <a class="collapse-item" href="{% url 'companies_list' %}">Ver aseguradoras</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Providers -->


  <!-- Nav Item - presuesto -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#budget" aria-expanded="true"
       aria-controls="collapseTwo">
      <i class='fas fa-calculator'></i>
      <span>Presupuestos</span>
    </a>
    <div id="budget" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Acciones Posibles:</h6>
        <a class="collapse-item" href="{% url 'budget_create' %}">Crear nuevo presupuesto</a>
        <a class="collapse-item" href="{% url 'budget_list' %}">Ver presupuestos </a>
      </div>
    </div>
  </li>


  <!-- Nav Item - reparaciones -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#repairs" aria-expanded="true"
       aria-controls="collapseTwo">
      <i class='fas fa-tools'></i>
      <span>Reparaciones</span>
    </a>
    <div id="repairs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Acciones Posibles:</h6>
        <a class="collapse-item" href="{% url 'repair_create' %}">Crear nueva reparacion</a>
        <a class="collapse-item" href="{% url 'repair_list'%}">Ver reparaciones </a>
      </div>
    </div>
  </li>


  <!-- disables reports - stocks -->


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Addons
  </div>


  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link disabled" href="charts.html">
      <i class="fas fa-fw fa-chart-area "></i>
      <span>Reportes</span></a>
  </li>


  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link disabled" href="charts.html">
      <i class="fas fa-fw fa-chart-area "></i>
      <span>Stock</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link disabled" href="charts.html">
      <i class="fas fa-fw fa-chart-area "></i>
      <span>Turnos</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->

